@import "tailwindcss";

@theme {
  --color-travel-pink: #0ea5e9;

  /* 2. Warna Teks Gelap (Lebih modern, tidak hitam pekat) */
  --color-travel-dark: #1e293b;

  /* 3. Warna Tambahan (Kuning/Emas untuk aksen jika perlu) */
  --color-travel-gold: #f59e0b; /* Tambahan warna biru laut seperti contoh */

  /* Override Font */
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;

  /* JANGAN ADA TANDA '}' DI SINI */

  /* 3. Animasi Custom */
  --animate-fade-in: fadeIn 0.3s ease-out forwards;
  --animate-zoom-in: zoomIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
} /* <--- TANDA KURUNG TUTUP HANYA DI SINI (Paling Bawah) */

/* Utility Tambahan */
@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}
